body {
    margin: 0;
    padding: 0;
    background-color: #9C2A34;
}

.card {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 15rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #fdfdfd;
}

.card-body li {
    margin: 30px;
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
    position: relative;
    right: 20px;
}

.btn {
    color: #fdfdfd;
    background-color: #090d16;
    transition: font-size .4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
    background-color: #c3c9de;
    font-size: 20px;
}

#student {
    text-align: center;
    padding-left: 33px;
    padding-right: 33px;
}

ul {
    position: relative;
    justify-content: center;
}

.carousel-item {
    left: 45%;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}